# env secrets
.env

# Python cache files
__pycache__/
*.py[cod]

# other Python junk
*.so
.Python
.pytest_cache/
.ipynb_checkpoints/

# data folder
data

# aws iam user access key and aws creds
aws.csv
store_index.pem

# rough notepad
rough.txt